@import "../style/style.css";


.HTMLpicture{
    color: black;
    background-color: #fcf0cf;
    .HTMLa{
        color: blue;
        text-decoration: underline;
    }
}

ol{
    li{
        ul{
            li{
                margin-left: 1rem;
                em{
                    color: red;
                }
            }
        }
    }
}