@import "../style/style.css";
.emNote{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgba(208, 22, 170, 0.85);
    text-decoration: underline;
    background-color: yellow;
}